<!-- Eryri Educational Platform - UI Component | v0.2 | (C) Juti Noppornpitak and eryri-web contributors | MIT License -->
<nav class="off-canvas primary">
    <a href="#more" class="activator"><span class="glyphicon glyphicon-align-justify"></span><span class="sr-only"> Main menu</span></a>
    <a class="deactivator"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <div class="menus">
        <a href="/" class="brand"><span class="icon"></span><span class="text">Eryri</span></a>
        <h2>
            <span class="icon glyphicon glyphicon-hdd"></span><span class="text">Data Storage</span>
        </h2>
        <ul>
            <li><a><span class="icon glyphicon glyphicon-inbox"></span><span class="text">Packages</span></a></li>
            <li><a><span class="icon glyphicon glyphicon-stats"></span><span class="text">Statistics</span></a></li>
            <li><a><span class="icon glyphicon glyphicon-comment"></span><span class="text">Discussion</span></a></li>
        </ul>
        <h2>
            <span class="icon glyphicon glyphicon-lock"></span><span class="text">Service Security</span>
        </h2>
        <ul>
            <li><a><span class="icon glyphicon glyphicon-user"></span><span class="text">User Access Control</span></a></li>
            <li><a><span class="icon glyphicon glyphicon-tasks"></span><span class="text">Application Access Control</span></a></li>
        </ul>
    </div>
</nav>