{# Local settings #}
{%- set enable_cdn = False %}
{%- set enable_google_analytics = False %}

{%- macro script() %}
    {% if enable_cdn %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    {% else %}
        <script src="/static/vendors/jquery.js"></script>
        <script src="/static/vendors/bootstrap-3.1.0/js/bootstrap.min.js"></script>
    {% endif %}
    <script src="/static/js/navi.js"></script>
    <script src="/static/js/index.js"></script>
{%- endmacro %}

{%- macro css() %}
    {% if enable_cdn %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"/>
    {% else %}
        <link rel="stylesheet" href="/static/vendors/bootstrap-3.1.0/css/bootstrap.min.css"/>
    {% endif %}
    {%- for cssfile in css_files %}
        <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
    {%- endfor %}
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/navi.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
{%- endmacro %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no"/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>Juti Noppornpitak</title>
    {{ css() }}
</head>
<body>
    <header>
        <h1>Juti Noppornpitak</h1>
        <nav>
            <a href="/services/software-development.html">Code</a>
            <a href="/projects/index.html">Opensource</a>
            <a href="/services/photography.html">Photography</a>
            <a href="/journal/index.html">Journal</a>
            <a href="/talks/index.html">Talks</a>
        </nav>
    </header>
    <article class="info">
        <div class="description">
            <p>
                I am a software developer, an user experience designer
                and a mathematician who is based in Toronto. I am
                also a professional photographer.
            </p>
            <p>
                私はトロントからソフトウェアディベロッパーと数学者とUX
                デザイナーです。私もプロカメラマンです。
            </p>
        </div>
    </article>
    <article class="social">
        <h2>Connect with me</h2>
        <ul>
            <li><a href="http://nikki.shiroyuki.com">Journal</a></li>
            <li><a href="https://plus.google.com/+JutiNoppornpitak">Google+</a></li>
            <li><a href="http://www.linkedin.com/in/jnopporn">LinkedIn</a></li>
        </ul>
        <ul>
            <li><a href="https://github.com/shiroyuki">GitHub</a></li>
            <li><a href="https://www.flickr.com/photos/shiroyuki">Flickr</a></li>
            <li><a href="http://500px.com/shiroyuki">500px</a></li>
            <li><a href="http://www.youtube.com/playlist?list=PLRr4d0kbVFH63e13ZwNvTzlnESa_3pOhk">Youtube (Short Films)</a></li>

        </ul>
    </article>
    <footer class="sr-only">&copy; 2014 Juti Noppornpitak</footer>

    <!-- JavaScript -->
    {{ script() }}

    {% if enable_google_analytics %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-2625743-1']);
            _gaq.push(['_setDomainName', '.shiroyuki.com']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
</body>
</html>
