{# Local settings #}
{%- set enable_cdn = False %}
{%- set enable_google_analytics = False %}

{%- macro script() %}
    {% if enable_cdn %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    {% else %}
        <script src="/static/vendors/jquery.js"></script>
        <script src="/static/vendors/bootstrap-3.1.0/js/bootstrap.min.js"></script>
    {% endif %}
    <script src="/static/js/navi.js"></script>
{%- endmacro %}

{%- macro css() %}
    {% if enable_cdn %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"/>
    {% else %}
        <link rel="stylesheet" href="/static/vendors/bootstrap-3.1.0/css/bootstrap.min.css"/>
    {% endif %}
    {%- for cssfile in css_files %}
        <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
    {%- endfor %}
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/navi.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
{%- endmacro %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no"/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>Juti Noppornpitak</title>
    {{ css() }}
</head>
<body>
    <div class="off-canvas-wrapper primary shift-right">
        {% include '_navi.html' %}
        <article class="off-canvas-content">
            <header class="container primary">
                <div class="row">
                    <div class="col-md-4">
                        Juti Noppornpitak
                    </div>
                </div>
            </header>
            <div class="aegis">
                <div class="feature">
                    <iframe
                        src="//player.vimeo.com/video/88289967"
                        width="854"
                        height="480"
                        frameborder="0"
                        webkitallowfullscreen
                        mozallowfullscreen
                        allowfullscreen
                    ></iframe>
                    <p><a href="http://vimeo.com/88289967">Going to Work</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                </div>
                <article class="profile">
                    <div class="portrait"><img src="/static/image/201403-me.jpg"/></div>
                    <h1>Juti Noppornpitak</h1>
                    <p>
                        He is a software developer, user experience
                        designer and a mathematician who is based in Toronto.
                    </p>
                    <p>
                        And as you can tell, he is also a professional photographer
                        who simply enjoy the photography.
                    </p>
                </article>
            </div>

            <div class="container supplementary">
                <div class="row">
                    <div class="col-sm-3 copyright">
                        &copy; 2014 <span class="sr-only">Juti Noppornpitak</span>
                    </div>

                    <div class="col-sm-4 sub-navi">
                        <h3 class="sr-only">Services</h3>
                        <ul>
                            <li><a href="/services/software-development.html">Web & Software Development</a></li>
                            <li><a href="/services/photography.html">Photography</a></li>
                            <li><a href="/projects">Open-source Projects</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-5 networks">
                        <h3 class="sr-only">Social Networks</h3>
                        <ul>
                            <li><a href="https://twitter.com/shiroyuki">Tweet together on <span>Twitter</span></a></li>
                            <li><a href="https://plus.google.com/+JutiNoppornpitak">Longer tweet on <span>Google+</span></a></li>
                            <li><a href="http://www.linkedin.com/in/jnopporn">My CV on <span>LinkedIn</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <!-- JavaScript -->
    {{ script() }}

    {% if enable_google_analytics %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-2625743-1']);
            _gaq.push(['_setDomainName', '.shiroyuki.com']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
</body>
</html>
