body {
    text-rendering: optimizeLegibility;
    font-family:
        'Helvetica Neue',
        'Roboto',
        'Open Sans',
        sans-serif
    ;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

time:before {
    content: '⚑';
    margin-right: 3px;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('/static/image/event-att-wedding.jpg');
    background-position: bottom, 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 250px;
    text-align: center;
    background-color: #E80C7A;
    color: #000;

    h1 {
        margin-top: 80px;
        font-size: 2em;
        text-transform: lowercase;
        font-weight: 200;
        letter-spacing: 1px;
        color: #fff;
    }

    p {
        padding: 20px 35px;
    }
}

.sequence-list {
    position: relative;
    white-space: nowrap;
    padding-top: 30px;

    .sequence {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 0px 15px;
        margin-right: 20px;
        background-color: #000;
        color: #fff;
        max-width: 200px;
        min-height: 150px;

        h2 {
            margin: 50px 0;
            color: #E80C7A;
            font-weight: 200;
            font-size: 1.5em;
            white-space: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        time {
            position: absolute;
            left: 0;
            bottom: 100%;
            background-color: #E80C7A;
            color: #fff;
            padding: 5px 15px;
        }

        ul {
            position: absolute;
            left: 0;
            top: 100%;
            list-style: none;
            margin: 0;
            padding: 0 5px;

            li {
                display: inline-block;
                font-size: 0.75em;
                padding: 5px 10px;
                background-color: #333;
                box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px inset;
            }
        }

        .location {
            position: absolute;
            top: 30px;
        }
    }

    .sequence[data-location="TBD"] {
        .location {
            color: #666;
        }
    }

    & > :first-child {
        margin-left: 50%;
    }
}