@import 'mixins';

body {
    text-rendering: optimizeLegibility;
}

.off-canvas-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-image: url('/static/image/index-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.feature {
    @include transform(rotate(5deg));
    position: absolute;
    top: 80px;
    left: 60px;

    p {
        position: absolute;
        right: 0;
        padding: 3px 6px;
        margin: -5px 0 0 0;
        background-color: #000;
        color: #999;

        &> a:first-child {
            font-weight: 700;
        }
    }
}

.profile {
    @include transform(rotate(5deg));
    position: absolute;
    top: 140px;
    left: 920px;
    font-family: 'Roboto';
    padding: 5px 20px;
    border-left: 1px solid #fff;
    width: 240px;
    color: #fff;
    font-weight: 300;

    h1 {
        text-transform: uppercase;
        color: #23ade4;
        font-size: 24px;
    }

    .portrait {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 100px;

        img {
            width: 100%;
        }
    }
}