@import 'mixins';

$highlightedColor: #23ade4;

header.primary {
    @include transition(all, 500ms);
    @include transform(rotate(-85deg));
    @include transform-origin(left top);
    margin-top: 300px;
    margin-bottom: -350px;
    font-size: 42px;
    opacity: 0.1;
}

.off-canvas-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    background-image: url('/static/image/index-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

// local hero unit
.aegis {
    @include transition(all, 250ms);
    @include transform(rotate(5deg));
    position: relative;
    width: 954px;
    margin: 0 auto;
    padding: 50px;
    font-family: 'Roboto';

    &:hover {
        @include transform(rotate(0deg));

        & + .supplementary {
            opacity: 0.3;
        }
    }
}

.feature {
    @include transition(all, 250ms);

    p {
        position: absolute;
        padding: 3px 10px;
        margin: 0;
        border-radius: 20px;
        background-color: #000;
        color: #999;

        &> a:first-child {
            font-weight: 700;
        }
    }
}

.profile {
    @include transition(all, 250ms);
    position: absolute;
    top: 50px;
    left: 100%;
    font-family: 'Roboto';
    padding: 5px 20px;
    margin-left: -40px;
    border-left: 1px solid #fff;
    width: 240px;
    color: #fff;

    h1 {
        text-transform: uppercase;
        color: $highlightedColor;
        font-size: 24px;
    }

    .portrait {
        overflow: hidden;

        img {
            border-radius: 100px;
            width: 200px;
        }
    }
}

.supplementary {
    @include transition(all, 500ms);
    @include transform(rotate(5deg));
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    font-family: 'Roboto';

    .copyright {
        font-weight: 700;
        font-size: 30px;
        text-align: right;
        color: rgba(255, 255, 255, 0.2);
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;

        a {
            @include transition(all, 250ms);
            display: inline-block;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.1);
            color: #000;
            margin-bottom: 2px;
            text-transform: uppercase;
            font-weight: 700;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .sub-navi ul {
        a {
            &:hover {
                background-color: $highlightedColor;
                color: #fff;
            }
        }
    }

    .networks ul {
        font-size: 14px;
        a {
            background-color: rgba(0, 0, 0, 0.2);
            font-weight: 400;
            color: #fff;

            span {
                font-weight: 700;
                color: $highlightedColor;
            }
        }

        a:hover {
            background-color: #000;
        }
    }
}

@media (max-width: 970px) {
    header.primary {
        @include transform(rotate(0deg));
        margin-top: 0;
        margin-bottom: 20px;
    }

    .off-canvas-content {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .aegis {
        @include transform(rotate(0deg));
        width: auto;
        padding: 0px;
    }

    .feature {
        margin-top: 40px;
        iframe {
            width: 100%;
        }

        p {
            display: none;
        }
    }

    .profile {
        width: auto;
        position: static;
        font-size: 20px;
        font-weight: 300;
        margin-left: 0;
        padding: 20px;
        border-left: none;

        .portrait {
            float: left;
            margin-right: 20px;
        }
    }

    .supplementary {
        @include transform(rotate(0deg));

        .copyright {
            text-align: left;
        }
    }
}

@media (max-width: 768px) {
    header.primary {
        @include transform(rotate(0deg));
        margin-top: 0;
        margin-bottom: 20px;
    }

    .aegis {
        @include transform(rotate(0deg));
        width: auto;
        padding: 0px;
    }

    .feature {
        iframe {
            height: 432px;
        }
    }

    .profile {
        h1 {
            margin-top: 35px;
            margin-bottom: 45px;
        }

        p {
            margin-left: 50px;
            border-left: 1px solid #fff;
            padding-left: 10px;
        }

        .portrait {
            width: 100px;
        }
    }

    .supplementary {
        ul {
            margin-bottom: 10px;

            a {
                display: block;
            }
        }

        .copyright {
            display: none;
        }
    }
}

@media (max-width: 480px) {
    .feature {
        iframe {
            height: 270px;
        }
    }
}