@import 'mixins';

$highlightedColor: #23ade4;

body {
    color: #666;
}

header.primary {
    @include transition(all, 500ms);
    display: none;
}

.off-canvas-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    background-color: #000;
}

// local hero unit
.aegis {
    @include transition(all, 250ms);
}

.feature {
    @include transition(all, 250ms);

    position: relative;
    background-image: url('/static/image/index-bg-20140601.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    height: 720px;

    h2 {
        position: absolute;
        left: 30px;
        top: 10px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #ffcc00;
    }

    .primary {
        position: absolute;
        top: 280px;
        left: 50%;

        a {
            margin-left: -90px;
            display: inline-block;
            padding: 10px 20px;
            font-size: 24px;
            font-weight: 200;
            width: 150px;
            letter-spacing: 1px;
            color: #fff;
            border-radius: 40px;
            background-color: rgba(0, 0, 0, 0.5);
            border: 3px solid #fff;

            span {
                color: #cc0000;
            }
        }

        a.video-done {
            cursor: pointer;
            display: none;
            z-index: 101;
            position: fixed;
            top: 10px;
            right: 70px;
        }

        a:hover {
            text-decoration: none;
            background-color: rgba(0, 0, 0, 1);
        }
    }

    .other {
        color: #fff;
        position: absolute;
        left: 40px;
        top: 60px;
    }

    .video-player {
        z-index: 100;
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #000;
    }
}

.profile {
    @include transition(all, 250ms);

    margin-top: -200px;
    position: relative;
    padding: 15px 30px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);

    h1 {
        color: #ff9900;
        text-transform: uppercase;
    }

    p {
        color: #fff;
        font-weight: 200;
        font-size: 20px;
    }

    .portrait {
        float: left;
        padding-right: 30px;
        overflow: hidden;

        img {
            border-radius: 120px;
            width: 120px;
        }
    }

    .portrait ~ * {
        margin-left: 150px;
    }
}

footer {
    /*
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    */
    text-align: left;
    border-top: none;
    margin-top: 0;
    //background-color: #000;
}

.supplementary {
    @include transition(all, 500ms);
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    font-family: 'Roboto';

    .copyright {
        font-weight: 700;
        font-size: 30px;
        text-align: right;
        color: rgba(255, 255, 255, 0.2);
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;

        a {
            @include transition(all, 250ms);
            display: inline-block;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.1);
            margin-bottom: 2px;
            text-transform: uppercase;
            font-weight: 700;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .sub-navi ul {
        a {
            &:hover {
                background-color: $highlightedColor;
                color: #fff;
            }
        }
    }

    .networks ul {
        font-size: 14px;

        li {
            display: inline-block;
        }

        a {
            background-color: rgba(0, 0, 0, 0.2);
            font-weight: 400;
            color: #fff;

            span {
                font-weight: 700;
                color: $highlightedColor;
            }
        }

        a:hover {
            background-color: #000;
        }
    }
}

@media (max-width: 970px) {
    .off-canvas-content {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .supplementary {
        @include transform(rotate(0deg));

        .copyright {
            text-align: left;
        }
    }
}

@media (max-width: 768px) {
    .profile {
        .portrait {
            float: none;
            padding-right: 0;
        }

        .portrait ~ * {
            margin-left: 0;
        }
    }
    .supplementary {
        ul {
            margin-bottom: 10px;

            a {
                display: block;
            }
        }

        .copyright {
            display: none;
        }
    }
}

@media (max-width: 480px) {
}